# Content Based Recommender

In [258]:
import pandas as pd
import numpy as np
import math

__Load the Data and seperate it into usable Data Frames__

In [259]:
entire_df = pd.read_csv("content_based.csv")

In [260]:
user_df = entire_df[["User 1","User 2"]][:20].T
user_df = user_df.fillna(0)
user_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
User 1,1.0,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-1.0,0.0
User 2,-1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [261]:
movies_df = entire_df.iloc[:20,1:11]
attr_df = entire_df.iloc[:20,12]
movies_df = pd.DataFrame(movies_df.values.T/np.sqrt(attr_df.values), index = movies_df.columns, columns = movies_df.index).T
movies_df

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family
0,0.447214,0.000000,0.447214,0.000000,0.447214,0.447214,0.000000,0.000000,0.000000,0.447214
1,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.577350,0.577350,0.577350,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000
4,0.000000,0.577350,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.577350,0.577350
5,0.707107,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.707107
7,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.500000,0.000000,0.000000,0.500000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.707107,0.000000
9,0.000000,0.577350,0.000000,0.000000,0.577350,0.000000,0.577350,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.577350,0.000000,0.577350,0.000000,0.000000,0.000000,0.577350,0.000000
11,0.577350,0.000000,0.000000,0.000000,0.000000,0.577350,0.577350,0.000000,0.000000,0.000000
12,0.000000,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.500000,0.000000,0.000000
13,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000
14,0.000000,0.000000,0.000000,0.500000,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000
15,0.577350,0.000000,0.000000,0.000000,0.000000,0.577350,0.000000,0.000000,0.577350,0.000000
16,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000
17,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000
18,0.000000,0.447214,0.447214,0.000000,0.447214,0.000000,0.447214,0.000000,0.000000,0.447214
19,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.500000,0.000000,0.500000,0.000000

In [262]:
def getUserTaste(user,movie):
    return pd.DataFrame(np.dot(user,movie),index = user.index, columns = movie.columns)

In [263]:
getUserTaste(user_df,movies_df)

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family
User 1,1.731671,-0.947214,-0.500000,0.207107,0.000000,1.024564,-0.447214,-0.5,0.57735,0.000000
User 2,-1.024564,1.000000,1.052786,1.500000,-0.447214,-1.024564,-0.077350,1.5,0.00000,-0.447214

In [269]:
def similarity(user,movie):
    user_taste = getUserTaste(user,movie)
    return pd.DataFrame(np.dot(user_taste,movie.T),index = user.index, columns = movie.index + 1)+2.5

In [272]:
predictions = similarity(user_df,movies_df).T
user_1 = predictions["User 1"].sort_values(ascending = False)
user_2 = predictions["User 2"].sort_values(ascending = False)
user_1

16    4.424646
6     3.870923
12    3.833114
9     3.632724
1     3.509019
3     3.211105
18    3.054695
15    2.642229
11    2.544658
20    2.418622
5     2.286459
14    2.168622
7     2.146447
8     2.129947
13    2.103553
4     1.879947
10    1.694927
19    1.652786
2     1.629947
17    1.629947
Name: User 1, dtype: float64